@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>О нас</h1>
</div>

<img src="~/img/an1.jpg" alt="Image" width="680" class="displayed" /><br>
<p>
    Мы собираем редкие и не очень произведения искусства и бытовой техники.
    Мы тщательно отбираем товар для нашей лавки и всегда гарантируем качетво наших товаров, проверенных нашими сотрудниками и тщательно задокументированных бухгалтерами.
</p>
