@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h1>Контакты</h1>
</div>
<img src="~/img/map.png" alt="Image" width="680" align="right" />
<br><br><br><br><br><br><br><br><br><br>
Нас можно найти на ст. метро Пионерская по адресу:<br><br>
<address>
    пр. Энгельса, 23<br> Санкт-Петербург, 194156
</address>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br>
<address>
    <strong>Наша почта:</strong>   <a href="zpolina@bk.ru">zpolina@bk.ru</a><br />
</address>